<form action="/login" method="POST" class="form-signin">
<h2>Please Sign In to continue</h2>

<input type="text" class="form-control" placeholder="Email Address" name="email" />
<input type="password" class="form-control" placeholder="Password" name="password" />
<input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign-in" />
</form>
