<h1>Emmet's App</h1>
<p>...signing up users better than ever before.</p>
<a href="/user/new" class="btn btn-lg btn-success" >Sign up</a>
<a href="/session/new" class="btn btn-lg btn-success" >Login</a>
